Repository uni-himanshu-kumar/spring-boot-garden, changes with the labels that .github/labeler.yml gives for each.
All labels: charts, ci/cd, deploy, docker, docs, garden, go, java, python, restapi

Rename service name to `spring-boot-garden`
  .github/workflows/cicd.yml
  CODEOWNERS
  README.md
  bootstrap-repo.sh
  chartgardener.yml
  charts/hello-world-java/Chart.yaml
  charts/hello-world-java/templates/tests/test-connection.yaml
  charts/spring-boot-garden/.helmignore
  charts/spring-boot-garden/Chart.yaml
  charts/spring-boot-garden/garden.yaml
  charts/spring-boot-garden/templates/_helpers.tpl
  charts/spring-boot-garden/templates/deployment.yaml
  charts/spring-boot-garden/templates/hpa.yaml
  charts/spring-boot-garden/templates/ingress.yaml
  charts/spring-boot-garden/templates/kong-claims-plugin.yaml
  charts/spring-boot-garden/templates/kong-cors-plugin.yaml
  charts/spring-boot-garden/templates/kong-oidc-plugin.yaml
  charts/spring-boot-garden/templates/service.yaml
  charts/spring-boot-garden/templates/tests/test-connection.yaml
  charts/spring-boot-garden/values.yaml
  deploy/base/release.yaml
  deploy/prod/kustomization.yaml
  deploy/prod/release.yaml
  deploy/staging/kustomization.yaml
  deploy/staging/release.yaml
  garden.yml
  gradle/wrapper/gradle-wrapper.jar
  oas_v1.yaml
  project.garden.yml
  service.datadog.yaml
Labels: charts, ci/cd, deploy, docs, garden, java, restapi

Update `README.md`
  README.md
Labels: docs

Enable CI/CD pipeline
  .github/workflows/cicd.yml
Labels: ci/cd

Update service ownership
  service.datadog.yaml
Labels: none

Delete bootstrap script
  bootstrap-repo.sh
Labels: none

Updates for windows powershell
  Makefile
  garden.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  project.garden.yml
Labels: garden, java

editing configurations
  Makefile
  charts/spring-boot-garden/templates/deployment.yaml
  src/main/java/com/uniphore/platform/helloworld/HelloWorldController.java
Labels: charts, java

.github/labeler.yml:

charts:
- changed-files:
  - any-glob-to-any-file:
    - charts/**/*
    - chartgardener.yaml
    - chartgardener.yml
ci/cd:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
deploy:
- changed-files:
  - any-glob-to-any-file:
    - deploy/**/*
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
docs:
- changed-files:
  - any-glob-to-any-file:
    - '**/README.md'
garden:
- changed-files:
  - any-glob-to-any-file:
    - charts/**/garden.yaml
    - charts/**/garden.yml
    - '*garden.yml'
    - '*garden.yaml'
    - chartgardener.yaml
    - chartgardener.yml
go:
- changed-files:
  - any-glob-to-any-file:
    - '*.go'
    - go.mod
    - go.sum
java:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.java'
    - '**/*.gradle'
    - gradle*
    - gradle/**/*
    - mvnw*
    - '**/pom.xml'
python:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.py'
    - pyproject.toml
    - requirements*.txt
    - .coveragerc
restapi:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
    - oas_*.yaml
    - oas_*.yml
